@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}
.container {
  background-color: black;
  border: 3px solid #333;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
h1 {
  color: white;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

h2 {
  color: white;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
}

p {
  color: #555;
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: green;
  margin: 8px auto;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}